.container {
  margin: 50px 300px;
  padding: 30px;
  margin-bottom: 15px;
  color: rgb(244, 244, 244);
  background-image: linear-gradient(-183deg, #9e4f98 35%, #264b9d 92%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  display: block;
  margin: 60px auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 8px 8px 26px rgb(32 32 32 / 57%);
  max-width: 65%;
}
