li,
ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  list-style: none;
  font-size: 1.3em;
}

body {
  text-align: center;
}

h3 {
  margin-top: 30px;
  text-align: center;
}
form {
  margin-bottom: 30px;
}
.App {
  margin-top: 50px;
  display: block;
  text-align: center;
}
